{# page de connexion #}
{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center container-page">
        <div class="login-card shadow p-5">
            <div class="text-center mb-4">
                <h2>Connexion</h2>
                <p class="text-muted">Bonjour, bienvenue 👋</p>
                {% if hashError %}
                        <div class="alert alert-danger">L'email ou le mot de passe est invalide</div>
                {% endif %}  
            </div>
            <form action="{{path('app_login')}}" method="post" >
                <div class="mb-3">
                    <input type="email" id="email" name="_username"  class="email-imput form-control"  placeholder="Votre email"  required {{username}}>
                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <input type="password" name="_password" id="password" class="password-input form-control"   placeholder="Votre mot de passe"  required>
                    </div>
                </div>


                <button class="btn btn-primary w-100" id="submit-id-submit" type="submit">Se connecter</button>
            </form>
            <div class="text-center mt-4">
                <p class="text-muted">Avez vous de compte? <a href="{{ path('app_register')}}" class="text-decoration-none">Créer un compte</a></p>
            </div>
        </div>
    </div>
    {#<script>
        document.getElementById('togglePassword').addEventListener('click', function() {
            const password = document.getElementById('password');
            if (password.type === 'password') {
                password.type = 'text';
            } else {
                password.type = 'password';
            }
        });
    </script>#}
{% endblock %}
