
{# Entete de lage page #}
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="{{ path('app_home')}}">Formulaire dynamique</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if app.user %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="{{ path('listes_champs') }}" class="nav-link" href="#">Listes des formulaires</a>
        </li>
      </ul>
    {% endif %}
      <div class="ms-auto">
        <form class="d-flex">
          {% if app.user %}
            <a href="{{ path('app_logout') }}" class="btn btn-primary" type="button">Se déconnecter</a>
          {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-primary" type="button">Se connecter</a>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</nav>
