{# Affiche de la page non trouvée #}
{% extends "base.html.twig" %}
{% block title %}Erreur-404{% endblock %}
{% block body %}
    <div class="container container-page text-center">
        <h1 class="text-danger">404 - Page Non Trouvée</h1>
        <p>Désolé, la page que vous recherchez n'existe pas.</p>
        <a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}